// Footer section starts

.custom-footer {
    width: calc(100% - 6rem);
    margin-left: 6rem;
    padding: 2rem 1rem;
    background-color: #000616;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        padding: 1rem 0.5rem;
    }
}

.custom-footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.custom-footer-logo {
    height: 6rem;
    width: 12rem;
    cursor: pointer;
    border-radius: 0.5rem;

    @media (max-width: 768px) {
        height: 4rem;
        width: 8rem;
    }
}

.custom-footer-description {
    text-align: center;
    max-width: 800px;
    margin-bottom: 2rem;
    font-size: 1.1rem;

    @media (max-width: 768px) {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
}

.custom-footer-social {
    text-align: center;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
        margin-bottom: 1rem;
    }
}

.custom-footer-social-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
}

.custom-footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 5rem;

    @media (max-width: 768px) {
        gap: 2rem;
    }
}

.custom-footer-social-icons a {
    transition: transform 0.3s;
    color: white;
}

.custom-footer-social-icons a:hover {
    transform: scale(1.5);
}

.custom-footer-payments {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 1rem;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
        width: 100%;
        margin: 0;
        gap: 1rem;
        margin-bottom: 1rem;
    }
}

.custom-footer-payment-icon {
    width: 6rem;
    background-color: white;
    height: 3rem;
    border-radius: 0.5rem;
    transition: transform 0.3s;

    @media (max-width: 768px) {
        width: 6rem;
        height: 3rem;
    }
}

.custom-footer-payment-icon:hover {
    transform: scale(1.25);
}

.custom-footer-links {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;

    @media (max-width: 768px) {
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }
}

.custom-footer-link-group {
    margin: 1rem;

    @media (max-width: 768px) {
        margin: 0.5rem;
    }
}

.custom-footer-link-title {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1rem;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
}

.custom-footer-link-item {
    margin-bottom: 0.5rem;
    text-align: center;

    @media (max-width: 768px) {
        margin-bottom: 0.3rem;
        font-size: 0.9rem;
    }
}

.custom-footer-copyright {
    text-align: center;
    margin-top: 1rem;

    @media (max-width: 768px) {
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }
}

// Footer section ends

// Fixed footer starts
.expanded2{
    transform: translateY(91.5%);
    transition: 0.5s linear;
    .fixediconstyle{
        transform: rotate(180deg);
        transition: 0.5s linear;
    }
}
.expandedtexta{
    transform: translateY(0%);
    transition: 0.5s linear;
    .fixediconstyle{
        transform: rotate(0deg);
        transition: 0.5s linear;
    }
}

.fixed_footer {
    position: fixed;
    right: 7%;
    border-radius: 8px;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    // transform: translateY(91.5%);
    // transition: 0.5s linear;

    @include maxQuery(350) {
        right: 3%;
    }

    .footfixedbtn {
        transform: rotate(180deg);
        transition: 0.5s linear;
    }

    &__head {
        background-color: rgb(var(--g1));
        border-radius: 20px 20px 0 0;

        &-n1 {
            @include box(20);
            background-color: rgb(var(--n7));
            color: rgb(var(--g1));
            font-weight: 600;
        }

        &-quickbet {
            input[type=checkbox] {
                height: 0;
                width: 0;
                visibility: hidden;
            }

            label {
                cursor: pointer;
                text-indent: -9999px;
                width: 44px;
                height: 24px;
                background: rgb(var(--g1));
                display: block;
                border-radius: 100px;
                position: relative;
                border: 2px solid #ffff;
            }

            label:after {
                content: "\ea38";
                position: absolute;
                top: 1px;
                left: 1px;
                width: 18px;
                height: 18px;
                background: #ffff;
                border-radius: 90px;
                transition: 0.3s;
            }

            input:checked+label {
                background: rgb(var(--g1));
            }

            input:checked+label:after {
                left: calc(100% - 1px);
                transform: translateX(-100%);
            }

            // label:active:after {
            //     // width: 130px;
            // }
        }
    }

    &__content {
        @include maxQuery(768) {
            overflow-y: scroll;
            height: 400px;
        };

        .box {
            // box-shadow: 0 3px 12px rgba(0,0,0,0.15);
            // background-color: #fff;
            border-radius: 3px;
            overflow: hidden;
        }

        .tab-list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            position: relative;
        }

        .tab-list::before {
            content: '';
            display: block;
            height: 100%;
            width: 33.333%;
            position: absolute;
            bottom: 0;
            // background-color: rgb(var(--n11));
            transition: .3s;
            z-index: -1;
        }

        .tab-item {
            flex: 1;
            text-align: center;
            transition: .3s;
            // border-radius: 8px !important;
            // border-radius: 8px;
        }

        .tab-toggle {
            display: none;
        }

        .tab-content {
            display: none;
        }

        .tab-toggle:nth-child(1):checked~.tab-list .tab-item:nth-child(1),
        .tab-toggle:nth-child(2):checked~.tab-list .tab-item:nth-child(2),
        .tab-toggle:nth-child(3):checked~.tab-list .tab-item:nth-child(3) {
            opacity: 1;
        }

        .tab-toggle:nth-child(2):checked~.tab-list::before {
            transform: translateX(100%);
        }

        .tab-toggle:nth-child(3):checked~.tab-list::before {
            transform: translateX(200%);
        }

        .tab-toggle:nth-child(1):checked~.tab-container .tab-content:nth-child(1),
        .tab-toggle:nth-child(2):checked~.tab-container .tab-content:nth-child(2),
        .tab-toggle:nth-child(3):checked~.tab-container .tab-content:nth-child(3) {
            display: block;
        }

        .tab-trigger {
            display: block;
            padding: 8px;
        }

        .tab-container {
            padding: 8px;
        }

        &-scr {
            background-color: rgb(var(--g1), 0.40);
        }

        &-formarea {
            input {
                &::placeholder {
                    color: #959AAA;
                    font-size: 12px;
                }
            }
        }

        &-selectammount {
            span {
                transition: 0.5s;

                &:hover {
                    background: rgba(53, 195, 30, 0.50);
                }
            }

            // .active {
            //     background: rgba(53, 195, 30, 0.50);
            // }
        }

        &-bottom {

            // border-top: 1px solid #8A92AB;
            // border-bottom: 1px solid #8A92AB;
            // padding: 10px 0;
            .right-border {
                width: 100%;
                padding: 10px;
                border-color: #8A92AB;
                border-style: solid;
                border-width: 1px 1px 1px 0;
            }

            .right-border2 {
                width: 100%;
                padding: 10px 30px 10px 10px;
                border-color: #8A92AB;
                border-style: solid;
                border-width: 1px 0 1px 1px;
            }
        }
    }
}

.show {
    transform: translateY(0);

    .footfixedbtn {
        transform: rotate(0deg);
    }
}

// Fixed footer ends